<!-- Boostrap test -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron">
        <h3>
          Add New Product<br>
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      
      <div class="form-group">
        
        <form name ="newProductForm" method="GET" action="/add" novalidate>

          <!-- UPC12 -->
          <label for="upc12">UPC12</label>
          <input id="upc12" name="upc12" type="text" placeholder="" class="form-control" ng-model="addCtrl.upc12" minlength="12" required />
          
          <!-- Validaton -->
          <div class="validation" data-ng-show="newProductForm.upc12.$touched || newProductForm.$submitted">
            <div data-ng-show="newProductForm.upc12.$error.required">
              <span class="glyphicon glyphicon-alert"></span>
              UPC12 is mandatory
            </div>
          </div>

          <!-- Brand -->
          <label for="brand">Brand</label>
          <input id="brand" name="brand" type="text" placeholder="" class="form-control" ng-model="addCtrl.brand" required />
          
          <!-- Validaton -->
          <div class="validation" data-ng-show="newProductForm.brand.$touched || newProductForm.$submitted">
            <div data-ng-show="newProductForm.brand.$error.required">
              <span class="glyphicon glyphicon-alert"></span>
              Brand is mandatory
            </div>
          </div> 

          <!-- New Product Name -->
          <label for="name">New Product Name</label>
          <input id="name" name="name" type="text" placeholder="" class="form-control" ng-model="addCtrl.name" required />
          
          <!-- Validaton -->
          <div class="validation" data-ng-show="newProductForm.name.$touched || newProductForm.$submitted">
            <div data-ng-show="newProductForm.name.$error.required">
              <span class="glyphicon glyphicon-alert"></span>
              Product name is mandatory
            </div>

          </div>           
          
          <!-- Submit Button -->
          <div class="form-group">
            <hr/>
            <input id="submit" name="submit" type="submit" class="btn btn-success" />
<!--             <div ng-show="true">
              {{addCtrl.message}}
            </div> -->
          </div>

        </form> <!-- Form: It ends here! -->
      </div>


    </div>
  </div>
</div>