<!-- Boostrap test -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron">
        <h3>
          Edit Product loaded<br>
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      
      <div class="form-group">
        
        <form name ="editProductForm" method="GET" action="/edit" novalidate>

          <!-- UPC12 -->
          <label for="upc12">UPC12</label>
          <input id="upc12" name="upc12" type="text" placeholder="" class="form-control" ng-model="editCtrl.upc12" required />
          

          <!-- Brand -->
          <label for="brand">Brand</label>
          <input id="brand" name="brand" type="text" placeholder="" class="form-control" ng-model="editCtrl.brand" required />
          

          <!-- Product Name -->
          <label for="name">Product Name</label>
          <input id="name" name="name" type="text" placeholder="" class="form-control" ng-model="editCtrl.name" required />
                
          
          <!-- Submit Button -->
          <div class="form-group">
            <hr/>
            <input id="submit" name="submit" type="submit" class="btn btn-success" />
<!--             <div ng-show="true">
              {{editCtrl.message}}
            </div> -->
          </div>

        </form> <!-- Form: It ends here! -->
      </div>


    </div>
  </div>
</div>