<!-- Boostrap test -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron">
        <h2>
          Product Overview<br>          
          <p class="text-right"><a class="btn btn-primary btn-lg" role="button" ui-sref="add">Add New Product</a></p>
        </h2>
      </div>  
    </div>
  </div>
</div> 

<!-- Bar Containers-->
<div class="container">  
  <div class="row">
    <div class="col-xs-12">
      <h2>List of products</h2>
    </div>
  </div>

  <!-- Bar rows -->
  <div class="row">
    <!-- Sort Bar -->
    <div class="col-xs-6">
      <div class="row sort-bar">
        <span style = "color: black; font-size: 18px; display: inline;"> Sort by </span>             
        <select class="form-control" ng-model="sortBy" style = "display: inline">
          <option value="brand">Brand</option>
          <option value="name">Name</option>
        </select>
      </div>
    </div>

    <!-- Filter Bar -->
    <div class="col-xs-6">
      <div class="row sort-bar">
        <span style = "color: black; font-size: 18px; display: inline;"> Filter by </span>             
        <select class="form-control" ng-model="filterBy" style = "display: inline">
          <option value="brand">Brand</option>
          <option value="name">Name</option>
        </select>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">      
      <div class="list-group-item" ng-repeat="product in overviewCtrl.products">
        <h4>{{ product.name }}</h4>
        <p>UPC12: {{ product.upc12 }} </p>
        <h5>Brand: {{ product.brand }} </h5>
        <!-- <h5>id: {{ product.id }} </h5> -->
<!--         <p class="text-right">
          <button class="btn btn-primary btn-lg" ng-click="overviewCtrl.editProduct(product.id)">Edit(param route)</button>
        </p> -->
        <p class="text-right"><a class="btn btn-primary btn-lg" role="button" ui-sref="edit">Edit</a></p>


      
      </div>
    </div>
  </div>
</div>